.li {
  list-style-type: none;
}

.ul {
  padding: 0;
  max-width: 100%;
  width: 60rem;
  box-sizing: border-box;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  place-items: center;
  flex-basis: max-content;
  justify-content: center;
  align-items: flex-start;
}
